[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = no-OS-FatFS-SD-SPI-RPi-Pico
	url = git@github.com:kraemr/no-OS-FatFS-SD-SPI-RPi-Pico.git
[submodule "usb_script"]
	path = usb_script
	url = git@github.com:kraemr/usb_script.git
