[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "usb_script"]
	path = usb_script
	url = https://github.com/kraemr/usb_script
[submodule "no-OS-FatFS-SD-SDIO-SPI-RPi-Pico"]
	path = no-OS-FatFS-SD-SDIO-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico
